html{
	color:#ffffff;
	padding:0;
	margin:0;
	font-family:arial;
	height:100%;
	margin: 0;
	padding: 0;
}
body{
	color:#ffffff;
	padding:0;
	margin:0;
	font-family:arial;
	height:100%;
	margin: 0;
	padding: 0;
	/*background-position: top left;
	background-repeat: repeat;
	background-color: #202C5E;*/
	background: rgba(33,45,94,1);
	background: -moz-linear-gradient(left, rgba(33,45,94,1) 0%, rgba(33,46,94,0.78) 25%, rgba(33,45,94,0.57) 50%, rgba(33,45,94,0.79) 75%, rgba(33,45,94,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,45,94,1)), color-stop(25%, rgba(33,46,94,0.78)), color-stop(50%, rgba(33,45,94,0.57)), color-stop(75%, rgba(33,45,94,0.79)), color-stop(100%, rgba(33,45,94,1)));
	background: -webkit-linear-gradient(left, rgba(33,45,94,1) 0%, rgba(33,46,94,0.78) 25%, rgba(33,45,94,0.57) 50%, rgba(33,45,94,0.79) 75%, rgba(33,45,94,1) 100%);
	background: -o-linear-gradient(left, rgba(33,45,94,1) 0%, rgba(33,46,94,0.78) 25%, rgba(33,45,94,0.57) 50%, rgba(33,45,94,0.79) 75%, rgba(33,45,94,1) 100%);
	background: -ms-linear-gradient(left, rgba(33,45,94,1) 0%, rgba(33,46,94,0.78) 25%, rgba(33,45,94,0.57) 50%, rgba(33,45,94,0.79) 75%, rgba(33,45,94,1) 100%);
	background: linear-gradient(to right, rgba(33,45,94,1) 0%, rgba(33,46,94,0.78) 25%, rgba(33,45,94,0.57) 50%, rgba(33,45,94,0.79) 75%, rgba(33,45,94,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212d5e', endColorstr='#212d5e', GradientType=1 );
}
h1{
	display:none;
}
.main_wrapper{
	position:relative;
	overflow:hidden;
	min-height:100%;
}
.logo{
	width:166px;
	height:166px;
	vertical-align: top;
	float:left;
}

.copy{
	padding: 0 0 0 20px;
}
footer{
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
	background:#000;
}

.menu{
	list-style:none;
	margin:0;
	padding:0 5px 0 20px;
	float:left;
}

.menu > li {

}
.menu > li > a{
	color: #fff;
	text-decoration:none;
	transition: all 0.5s ease 0s;
	text-transform:uppercase;
	font-size:35px;
	font-family: 'Contrail One', cursive;
	letter-spacing:-2px;
	padding-right: 5px;
}
.menu > li > a:hover{
	text-decoration:none;
	opacity: 0.2;
}

.the-names{
	color: #ffffff;
    font: 80px;
    text-align: center;
    text-transform: uppercase;
}
.the-names > ul{
	list-style-type:none;
	margin:0;
	padding: 0;
	font-family: 'Contrail One', cursive;
	letter-spacing:-0.1em;
	font-size: 3.5em;
}
.names h2{
	font: 1.8em /0.85em 'Contrail One';
	letter-spacing: -10px;
	margin: 0.1em 0;
}
h2.soon{
	font: 8em /0.85em 'Contrail One';
	letter-spacing: -10px;
	margin: 0 auto;
	display:block;
}
.items-wrapper{
	padding: 30px 0 50px 0;
	text-align:center;
}
ul.apps-gamez{
	display:inline-block;
	color:#fff;
	list-style-type:none;
	margin:0 auto;
	padding: 0;
}
ul.apps-gamez > li{
	width: 300px;
	height: 550px;
	display:inline-block;
}
ul.apps-gamez > li > a{
	display:inline-block;
	width:270px;
	position:relative;
	top:0;
	transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
}
ul.apps-gamez > li > a:hover{
	top:-20px;
}

ul.apps-gamez > li > a > img{
	position:relative;
	top:0;
	float:left;
	transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
}

ul.apps-gamez > li > a:hover > img{
	top:-20px;
}

span.app-name{
	font:26px/1.2em 'Contrail One';
	display: inline-block;
	background-color: #191919;
	width: 100%;
	min-height: 50px;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	position:absolute;
	bottom:-50px;
	left:0;
}
.modalDialog{
	display:none;
}
.content{
	font-family: 'PT Sans', sans-serif;
	padding: 5px 13px 100px 20px;
	text-align:left;	
	overflow:hidden;
}
.content > .left{
	float:left;
	max-width:600px;
}
.content > .right{
	float:left;
	width:270px;
	height: 480px;
	text-align:center;
	overflow:hidden;
}
.content   > h2{
	font: 1.8em /0.85em 'Contrail One';
	color: #fff;
	text-transform:uppercase;
	padding: 0 0 20px 0;
	border-bottom: solid 1px #959595
}
.content > .left > h3{
	color: #fff;
	font: 1.2em /0.85em 'Contrail One';
	border-top: solid 1px #959595;
	padding-top: 20px;
}
.content .changes{
	font-family: 'PT Sans', sans-serif;
}
.description{
	margin:55px 30px 0 0;
}
